[Unit]
Description=nerc dotnet service

[Service]
Type=simple
StartLimitIntervalSec=0
Restart=always
RestartSec=1
ExecStart=/usr/bin/dotnet /usr/local/src/helper/HelperWeb.dll --urls="http://0.0.0.0:9696"

[Install]
WantedBy=multi-user.target
